.admin-sidebar {
  height: 92vh;
  width: 300px;
  overflow-y: auto;
  background-color: #202429;
  color: white;
  padding: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #7b7c7d;
}

