.table {
    border-collapse: collapse;
    width: 100%;
}

.table-container {
    max-height: 180px;
    overflow-y: auto;
}

.table th,
.table td {
    border: none;
    padding: 8px;
    text-align: left;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #202429;
    color: white;
}
